/* @import url("https://fonts.googleapis.com/css2?family=Roboto");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.conatiner-fluid {
  background-color: red;
  padding: 0 1em;
}
.title-section {
  display: grid;
  place-items: center;
  padding: 1em;
}
.add-user-btn-section {
  background-color: blue;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding: 1em;
  margin-bottom: 1em;
} */
